*, *::before *::after {
  box-sizing: border-box;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.libro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  padding-bottom: 1rem;
  width: 300px;
}