*, *::before *::after {
  box-sizing: border-box;
}

.cart-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.cart-image {
  max-width: 50px; /* Ajusta esto según tus necesidades */
  margin-right: 0.5rem;
}

.navbar {
  width: 100%;
  padding: 1rem 0;
}

.navbar-menu {
  gap: 1rem;
}